.title {font-size:large;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.body{background-color:grey;
text-align:center}

.grid{border:1px,solid,blue;
background-color:white;text-align:center;
border-collapse:collapse;
padding:20px;
margin:auto}

table{width:auto;
padding:auto;
margin:auto;
border:auto;
border-collapse:collapse;}

th{align:left;}

table, th, td{border:solid;}

.graph{float:right;
width:300px;
padding:10px;
margin:10px;
border:10px}